{
  "extends": "airbnb-base",
  "rules": {
    "quotes": "off",
    "no-console": "off",
    "operator-linebreak": "off",
    "func-names": "off",
    "space-before-function-paren": "off",
    "arrow-parens": "off",
    "prefer-template": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off"
  }
}
